body {
	height: 100%;
}

h1{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.3999996185303px;
}

#welcome{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	display: inline;
	margin-right: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.3999996185303px;
}

p{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.3999996185303px;
	color:grey;
}

ol{
	text-align: center;
	list-style-type: none;
}

#comment{
	padding: 0 500px 0 500px;
}

#comment li{
	padding: 20px; 
	border: 1px solid lightgrey;
}

#foto{
	max-width: 500px;
	max-height: 500px;
	margin-left: -50px;
	margin-bottom: 30px;
}

#option{
	position: fixed;
	right: 10px;
	top: 12px;
}

.photo{
	max-width: 900px;
	max-height: 600px;
	margin: 0 auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid white;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}


#menu{
	background:#fbfbfb;
	position:fixed;
	top:0;
	left:0px;
	right:0;
	height:64px;
	width:auto;
	z-index:104;
	x-border-bottom:1px solid #bbbbbb;
	box-shadow:0 1px 0 rgba(0,0,0,0.2);
	-webkit-transition:left 0.25s cubic-bezier(0.25, 0, 0.3, 1);
	transition:left 0.25s cubic-bezier(0.25, 0, 0.3, 1);
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)

}

#menu > #option{
	background-color: transparent;
	color: #008ed3;
	border-width: 0;
	height: 64px;
	margin: 0;
	margin-right: 6.5%;
	padding: 0;
	text-indent: 32px;
	font-size: 18px;
	font-weight: 200;
	outline: none;
}

#menu > #option > a{
	background-color: transparent;
	color: #008ed3;
	border-width: 0;
	height: 74px;
	margin: 0;
	padding: 0;
	text-indent: 32px;
	font-size: 18px;
	font-weight: 200;
	outline: none;
	text-decoration: none
}

.button {
	cursor:pointer;
	display: inline-block;
	border-color: #008ed3;
	border:1px solid;
	font-weight: 200;
	color: #008ed3;
	background-color: transparent;
	padding:10px 20px;
	text-decoration:none;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:5px;
}

.buttonwhite {
	margin-top: 20px;
	cursor:pointer;
	width: 400px;
	display: inline-block;
	border-color: white;
	border:1px solid;
	font-weight: 200;
	color: white;
	font-size: 20px;
	background-color: rgba(0,142,211,0.1);
	padding:10px 20px;
	text-decoration:none;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:5px;
}

.buttonwhite2 {
	margin-top: 20px;
	cursor:pointer;
	width: 250px;
	display: inline-block;
	border-color: white;
	border:1px solid;
	font-weight: 200;
	color: white;
	font-size: 20px;
	background-color: rgba(0,142,211,0.1);
	padding:10px 20px;
	text-decoration:none;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:5px;
}
.buttonwhite2:hover {
	background-color: rgba(0,142,211,0.8);
	transition: background-color 1s ease;
}
.buttonwhite:hover {
	background-color: rgba(0,142,211,0.8);
	transition: background-color 1s ease;
}

.button:hover {
	background-color: rgba(0,142,211,0.1);
	transition: background-color 1s ease;
}
.button:active {
	position:relative;
	top:1px;
}

/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
	text-align: center;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.center {
	  margin-left: auto;
}

.max {
	max-width: 200px;
}

#main {
	top: 50px;
}

#camera {
	width: 5%;
	margin-right: 5px;
	margin-top: -12px
}

#title {
	float:left;
	color: black;
	top:15px;
	margin: 20px 0 0 -8.5%;
}

#bg{
	content: "";
  	background-image: url("/images/bg.jpg");
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}


#bg2{
	content: "";
  	background-image: url("/images/bg2.jpg");
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

label > h1, form > h1  {
	color: white;
	font-weight: 100;
}

#register {
    margin-top: 200px;
}

#register > h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:white;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
}

#frame {
    margin-top: 100px;
}

#frame > a {
	margin-left:1%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:black;
	font-size: 20px;
	text-decoration:none;
	font-weight: 100;
	text-align: center;
}
.ctr {
   text-align: center;
}

#error {
	color:red;
}