<% include ../partials/header %>

<h1>Registreer</h1>

<form action="<%= req.baseUrl + "/" %>" method="post">
<div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="">
  </div>

  <button>Sign up!</button>
</form>

<% include ../partials/footer %>