<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


<% include ../partials/header %>
<h1>Upload Photo</h1>

<form action="<%= req.baseUrl + "/upload" %>" method="post" enctype="multipart/form-data">
  <input type="file" onchange="readURL(this);" name="upload" value="">
  <input type="text" name="caption" value="">
  <button>Upload</button>
</form>

<img src="" id="foto">

<% include ../partials/footer %>
<script src="/js/script.js"></script>